.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 94vh;
}

.logo {

    text-align: center;
    flex-direction: column;
    padding: 10px;
    color: #edf0f5;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;

}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem;

}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #f7f7f7ce;


}

.menu--list .item:hover{
    background:#eeebe7;
    color: #133158;
    border-radius: 40px;
    transform: scale(1.2);

}

.menu--list .item.active{
    background:#eeebe7;
    color: #133158;
    border-radius: 40px;
    transform: scale(1.03);

}
