@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


*{
  margin: 0;
  padding: 0;
  height: fit-content;
  font-family: 'Poppins',sans-serif;
}

body{
  background: #1a0c29; /* #bed4bb */
  padding: 30px;
  
}