.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .tmain-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .tcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 15px;
  }
  
  .tcard:first-child {
    background-color: #dce5f7;
  }
  
  .tcard:nth-child(2) {
    background-color: #dce5f7;
  }
  
  .tcard:nth-child(3) {
    background-color: #dce5f7;
  }
  
  .tcard:nth-child(4) {
    background-color: #dce5f7;
  }
  
  .tcard-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tcard-inner > .tcard_icon {
    font-size: 25px;
  }
  
  .pg-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  